{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container mt-5" style="background-color: #f0f0f0;">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="username" class="form-label">Your Name:</label>
                <input type="text" class="form-control" id="username" value="linkuello">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="w-100">
                <div class="mb-3">
                    <label for="textMessage" class="form-label">Enter your message:</label>
                    <input type="text" class="form-control" id="textMessage">
                </div>
                <button id="addMessage" class="btn btn-primary rounded-1">Send</button>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="messages" class="mt-4"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_script %}
<script>    
    // setup chat socket
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/public_room/'
    );

    // on socket open
    chatSocket.onopen = function (e) {
        console.log('Chat socket successfully connected.');
    };

    // on socket close
    chatSocket.onclose = function (e) {
        console.log('Chat socket closed unexpectedly');
    };

    // on receiving message on group
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        const username = data.username !== undefined ? data.username : ''; // Проверяем наличие ключа "username" и устанавливаем его значение в переменную username

        setMessage(username, message); // Передаем имя пользователя и сообщение в функцию setMessage
    };

    // sending the text message to server
    document.querySelector('#addMessage').onclick = function(e) {
            const messageInputDom = document.querySelector('#textMessage');
            const usernameInputDom = document.querySelector('#username');
            const message = messageInputDom.value;
            const username = usernameInputDom.value;

            // Check if message is not empty
            if (message.trim() !== '') {
                chatSocket.send(JSON.stringify({
                    'username': username,
                    'message': message
                }));

                messageInputDom.value = '';
            }
    };

    // helper func setting message
    function setMessage(username, message){
        var div = document.createElement('div');
        div.className = 'message-container'; // Added class for styling
        div.innerHTML = '<div class="alert alert-success" role="alert">' + '<strong>' + username + ':</strong> ' + message + '</div>';

        var container = document.getElementById('messages');  
        container.appendChild(div);

        // Scroll to bottom
        container.scrollTop = container.scrollHeight;
    }
</script>
{% endblock %}
