/* Добавленные стили */
.message-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end; /* Выравнивание сообщений вправо */
}

.message-container .alert {
    max-width: 70%; /* Максимальная ширина сообщения */
}

/* Дополнительные стили для поля ввода */
.form-control {
    border-radius: 0; /* Удаление скругления у поля ввода */
}

/* Стили для кнопки */
.btn-primary {
    border-radius: 0; /* Удаление скругления у кнопки */
}

/* Стили для контейнера сообщений */
#messages {
    max-height: 400px; /* Ограничение высоты контейнера сообщений с прокруткой */
    overflow-y: auto; /* Добавление вертикальной прокрутки при необходимости */
}

body {
    background-color: #111;
    color: #ddd;
}

.message-container {
    background-color: #222;
    border: 1px solid #444;
    margin-bottom: 10px;
    padding: 10px;
}

.form-label, .form-control, .btn {
    background-color: #333;
    color: #ddd;
    border: 1px solid #555;
}
